Thumbs.db
#Ignore files build by Visual Studio
Artifacts
*.obj
*.pdb
*proj.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.5.1.ReSharper
*.ReSharper
DeploymentPackage/
Installer/
*.ReSharper.user
*.ma2
*.user
*.scc
*.vssscc
*.sqlsuo
*.cs.orig
*.tmp

